body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(255);
    font-family: sans-serif;
}

/*  The top navigation */

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 70px;
    background: black;
}

nav .logo {
  font-family: sans-serif;
  font-weight: bold;
    float: left;
    padding-bottom: 0rem;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 20rem) {
    nav .logo {
        font-size: 1rem;
    }
}

.logoCo {
  font-family: sans-serif;
    text-decoration: none;
    color: white;
}

.logoCo a:hover {
    color: white
}

.logoCo a::before {
    content: '';
    display: block;
    transform: translateY(0%);
    height: 9px;
    background-color: RGB(255, 255, 255, 0);
    top: 0;
    width: 0%;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    padding-bottom: 30px;
    list-style: none;
    align-items: center;
}

nav .links a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1em;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

#nav-toggle {
    position: relative;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-60%);
}

nav .icon-burger .line {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 700px) {
    nav .logo {
        transform: translateY(-20%);
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        background: rgb(39, 39, 39);
        width: auto;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 15px;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

nav a:hover {
    color: rgb(39, 39, 39);
}

nav a::before {
    content: '';
    display: block;
    transform: translateY(-100%);
    height: 5px;
    background-color: rgb(39, 39, 39);
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.navcontainer {
    width: 100%;
    margin: 0 auto;
}

.homeColor {
    color: rgb(134, 134, 134);
}

.header::after {
    content: '';
    display: table;
    clear: both;
}

/*The top navigation */

/*  [END] NAVIGATION BAR [END]

/* [START] browse [START]
		retrieved from https://www.youtube.com/watch?v=ltxxNidblts&t=595s*/


.intro {
    color: black;
    transform: translateY(30%);
    text-align: center;
    margin: 50px;
    padding: 10px;
}

.intro h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
}

@media (max-width: 40rem) {
    .intro h1 {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1.7rem;
    }
  }

  @media (max-width: 15rem) {
    .intro h1 {
    font-family: sans-serif;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }

  .profile-option {
      width: 40px;
      height: 40px;
      background: rgb(255,0,0);
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all .5s ease-in-out;
      outline: none;

  }

  button.browsebtn
   {
     margin-left: 28rem;
     text-align: center;
      border: 0;
      padding: 2px;
      width: 100%;
      border-radius: 5px;
      background:  rgb(255,0,0);
      font-family: sans-serif;
      font-size: 1rem;
      /* margin: 5px 2px; */
      cursor: pointer;
      outline: none;
      /* margin-bottom: 10px; */
      transition: background .3s ease-in-out;
      box-shadow: 0px 5px 7px 0px rgba(0,0,0,.3);
      color: #fff;
  }
  button.browsebtn:hover{
      background: rgba(255, 0, 0, .9)
  }


  .intro h1 {
      /* transform: translateY(-60%); */
      transform: translateY(-40%);
      font-family: sans-serif;
  }

.intro h2 {
    /* transform: translateY(-60%); */
    transform: translateY(60%);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 40px;
}

@media (max-width: 40rem) {
    .intro h2 {
      font-family: sans-serif;
      font-weight: lighter;
      font-size: 1.5rem;
    }
  }

  @media (max-width: 15rem) {
    .intro h2 {
      font-family: sans-serif;
      font-weight: lighter;
      font-size: 1rem;
    }
  }

.intro p {
    font-size: 15px;
}


.container {
    padding-top: 100px;
    width: 100%;
    margin: 10px auto 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.more {
  height:50px;
  position: relative;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);
}

.container .box {
    position: relative;
    /* width: 300px;
    height: 300px; */
    margin: 10px;
    display: inline-block;
}

.container .box .imgBox {
    position: relative;
    overflow: hidden;
}

.container .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}

.container .box:hover .imgBox img {
    transform: scale(1.2);
}

.container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(192,192,192, 0.7);
    transform: scaleY(0);
    transition: transform 0.5s;
}

.container .box:hover .details {
    transform: scaleY(1);
    transform: scaleX(1);
}

.container .box .details .content {
  inline-size: initial;
  position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: white;
}

.container .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: black;
}
.container .box .details .content h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: black;
}

.container .box .details .content p {
    font-size: 14px;
    margin: 10px 0 0;
    padding: 0;
}

/*BUTTON*/

.btn {
    transform: translate(1.5px, 110px);
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    background: rgb(123,123,123);
    color: black;
    border: 2px solid black;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: balck;
    z-index: -1;
    transition: 0.8s;
}

.btn:hover {
    color: RGB(220,220,220);
    background: black;
}

/* [END] browse [END] */

.grid {
    display: grid;
}

@media (max-width: 50rem) {
    .grid.add-gutters {
        /*
        took the help from IAT 235 Notes
        */
        /* adding gutters to the columns */
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}

@media (min-width: 900rem) {
    .grid.grid4 {
        /*
    took the help from IAT 235 Notes
    */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}

@media (min-width: 900rem) {
    .grid.grid1 {
        /*
      took the help from IAT 235 Notes
      */
        display: inline-block;
        grid-template-columns: 1fr;
        grid-template-rows: 2rem;
        grid-auto-flow: row;
    }
}

/* Took a little help from online resource: https://tutorialzine.com/ */

/*Footer*/

.footer-distributed {
    background-color: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

@media (min-width: 15rem) {
    .footer-distributed .footer-center p a {
        color: white;
        text-decoration: none;
        margin-left: 0rem;
    }
}

@media (max-width: 15rem) {
    .footer-distributed .footer-center p a {
        color: white;
        text-decoration: none;
        margin-left: -3rem;
    }
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

.logoFooter {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.textFooter {
  font-family: sans-serif;
}

.emailColor {
    color: white;
}

span.c{
    display: block;
}
