* {
    box-sizing: border-box;
    /* adding the border box model */
    /*
    took the help from IAT 235 Notes
    */
}

body {
    margin: 0rem;
    padding: 0rem;
    background: white;
    font-family: sans-serif;
}

.homeText {
    font-size: 1.01rem;
    line-height: 2.2rem;
}

.headColor {
    color: rgb(95, 95, 95);
    font-size: 2rem;
    font-weight: bolder;
    font-variant: small-caps;
}

.headColor2 {
    color: rgb(95, 95, 95);
    font-size: 1.3rem;
}

.hero-image {
    background-image: url(../img/cake1.gif);
    /*Citation From this Image*/
    /*Images Taken from the webiste below*/
    /*https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.squarespace-cdn.com%2Fcontent%2Fv1%2F5c111cc8f8370aa4e72e1994%2F1582837869260-OCLS27PV590YM4PY58YL%2Fke17ZwdGBToddI8pDm48kETsGhw5V0vaG2_dPXh0k_sUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dvFKdYkublVSbgXRfbedCAd5Dtad7AKKpDZvvFHsajo-CjLISwBs8eEdxAxTptZAUg%2FCarlos-Bakery-Carousel-Video.gif%3Fformat%3D2500w&imgrefurl=https%3A%2F%2Fwww.carlosbakery.com%2F&tbnid=UWNNR9ATbiqjHM&vet=12ahUKEwjF8oTbjtnsAhVFgZ4KHfGKCv8QMygAegQIARAW..i&docid=C4k9Oql8c1HtnM&w=1920&h=780&q=carlo%27s%20bakery&hl=en-CA&ved=2ahUKEwjF8oTbjtnsAhVFgZ4KHfGKCv8QMygAegQIARAW */
    background-color: #cccccc;
    height: 850px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -1rem;
}

@media (max-width: 50rem) {
    .hero-image {
        height: 450px;
    }
}

.navcontainerBottom {
    width: 100%;
    margin: 0 auto;
}

/* The Draft of The bottom navigation */

.bottomColor {
    background: black;
}

.bottomLogo {
    color: white;
    text-decoration: none;
}

.bottomLogo1 {
    color: white;
    text-decoration: none;
}

.contact {
    color: black;
}

.contact a:hover {
    color: rgb(123,123,123);
}

.contact a::before {
    content: '';
    display: block;
    transform: translateY(-100%);
    height: 5px;
    background-color: rgb(123,123,123);
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.contact a:hover::before {
    width: 100%;
}

/* The Draft of The bottom navigation */

/*  The top navigation */

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 70px;
    background: black;
}

nav .logo {
    float: left;
    padding-bottom: 0rem;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
}

@media (max-width: 20rem) {
    nav .logo {
        font-size: 1rem;
    }
}

.logoCo {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.logoCo a:hover {
    color: white
}

.logoCo a::before {
    content: '';
    display: block;
    transform: translateY(0%);
    height: 9px;
    background-color: RGB(255, 255, 255, 0);
    top: 0;
    width: 0%;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    padding-bottom: 30px;
    list-style: none;
    align-items: center;
}

nav .links a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1em;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

#nav-toggle {
    position: relative;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-60%);
}

nav .icon-burger .line {
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 700px) {
    nav .logo {
        transform: translateY(-20%);
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 70px;
        bottom: 100%;
        background: rgb(39, 39, 39);
        width: auto;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }
    nav .links a {
        font-size: 15px;
    }
    nav .icon-burger {
        display: block;
    }
    nav :checked~.links {
        bottom: 0;
    }
    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

/*  The top navigation */

.navcontainer {
    width: 100%;
    margin: 0 auto;
}

.homeColor {
    color: rgb(0, 0, 0);
}

.header::after {
    content: '';
    display: table;
    clear: both;
}

nav a:hover {
    color: rgb(123,123,123);
}

nav a::before {
    content: '';
    display: block;
    transform: translateY(-100%);
    height: 5px;
    background-color: rgb(123,123,123);
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: rgb(243, 243, 243);
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.centered {
    color: rgb(255, 255, 255);
    background-color: black;
    opacity: 90%;
    padding: 1rem;
    position: absolute;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 3rem;
    top: 50%;
    left: 83%;
    transform: translate(-50%, -50%);
}

.marginz {
    margin: 2rem;
}

.marginn {
    margin: 1rem;
}

.responsive {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

hr {
    border: 0.07rem solid rgb(105, 105, 105);
    background-color: rgb(104, 104, 104);
}

.textCenter {
    font-family: sans-serif;
    text-align: center;
    line-height: 1.8rem;
}

.italic {
    font-style: italic;
}

@media (min-width: 100rem) {
    .quote {
        margin-left: 20rem;
        margin-right: 20rem;
    }
}

.grid {
    display: grid;
}

@media (max-width: 50rem) {
    .grid.add-gutters {
        /*
        took the help from IAT 235 Notes
        */
        /* adding gutters to the columns */
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}

@media (min-width: 50rem) {
    .grid.grid4 {
        /*
    took the help from IAT 235 Notes
    */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}

@media (max-width: 50rem) {
    .grid.add-gutters {
        /*
        took the help from IAT 235 Notes
        */
        /* adding gutters to the columns */
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}

@media (min-width: 35rem) {
    .grid.grid2 {
        /*
    took the help from IAT 235 Notes
    */
        grid-template-columns: 8fr 1fr;
        grid-template-rows: auto;

    }
}

@media (min-width: 35rem) {
    .grid.grid5 {
        /*
    took the help from IAT 235 Notes
    */
        grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: auto;
    }
}

.margo {
    margin-left: -10rem;
}

@media (min-width: 90rem) {
    .grid.grid12 {
        /*
      took the help from IAT 235 Notes
      */
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}

.copyright {
    color: white;
    margin-left: 5rem;
    margin-top: -4rem;
}

@media (max-width: 35rem) {
    .copyright {
        margin-top: 1rem;
    }
}

@media (max-width: 15rem) {
    .copyright {
        margin-top: 1rem;
        font-size: 6vw;
        padding: 0rem;
        margin-left: 0rem;
    }
}

@media (min-width: 90rem) {
    .grid.grid1 {
        /*
      took the help from IAT 235 Notes
      */
        display: inline-block;
        grid-template-columns: 1fr;
        grid-template-rows: 2rem;
        grid-auto-flow: row;
    }
}

/* Took a little help from online resource: https://tutorialzine.com/ */

/*Footer*/

.footer-distributed {
    background-color: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

@media (min-width: 15rem) {
    .footer-distributed .footer-center p a {
        color: white;
        text-decoration: none;
        margin-left: 0rem;
    }
}

@media (max-width: 15rem) {
    .footer-distributed .footer-center p a {
        color: white;
        text-decoration: none;
        margin-left: -3rem;
    }
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

.logoFooter {
    font-family: sans-serif;
    font-size: 1.6rem;
}

.textFooter {
  font-family: sans-serif;
}

.emailColor {
    color: white;
}

span.c {
    display: block;
}
